@font-face {
    font-family: 'Recipekorea';
    src: url('RecipekoreaM.woff2') format('woff2'),
        url('RecipekoreaM.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

